* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #3f3f3f;
}

.nav-bar {
  height: 5vh;
}

.nav-bar h4 {
  font-family: 'Cinzel', serif;
  font-size: 1.5em;
  margin-left: 5px;
  padding-top: 15px;
  width: 40%
}

.nav-bar p {
  font-size: 20px;
  margin-right: 10px;
  font-family: 'Cinzel', serif;
  margin-top: -25px;
  float: right;
  display: inline;
}

.nav-bar p:hover {
  color: #878181;
}

.nav-bar img {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  transform: rotate(-93deg);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #878181;
}

.hero {
  background: linear-gradient(#020202ee, transparent, #020202ee), url("../img/hero2.jpg") no-repeat center;
  background-size: cover;
  height: 30vh;
  width: 100%;
  position: relative;
}

.table-wrap {
  position: relative;
}

.table {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  font-family: sans-serif;
}

 h1 {
  font-family: 'Timmana', sans-serif;
  text-align: center;
  font-size: 2em;
}

td, th {
  border: 1px solid black;
  padding: 10px;
  border-radius: 2px;
}

th {
  background-color: #56040c;
  font-size: 1.5em;
  width: 400px;
}

td {
  background-color: #747978;
  font-size: 1em;
  width: 400px;
  box-shadow: 1px 1px;
}

.news-letter {
  position: relative;
}

.form {
  position: absolute;
  left: 50%;
  top: 300px;
  transform: translate(-50%, 0);
}

.form-body {
  margin-left: 23px;
}

.form-line {
  width: 300px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  font-size:.8em;
  padding-left: 4px;
  margin-bottom: 15px;
  background-color: #747978;
  border: none;
  box-shadow: 1px 1px;
}

.form-line:focus {
  opacity: 0.5;
}

h3 {
  text-align: center;
  /*margin-bottom: 5px;*/
  font-family:  'Timmana', sans-serif;
  font-size: 1.3em;
}

.checks {
  margin-left: 40%;
}

.check-font {
  font-size: 1.5em;
  font-family: 'Timmana', sans-serif;
}
.check-box {
  margin-right: 10px;
  margin-left: 2px;
}

#last::after {
  content: "<-- Please Choose One";
  color: #56040c;
  font-family: sans-serif;
  margin-left: 10px;
}

button {
  width: 400px;
  height: 45px;
  border-radius: 5px;
  margin-left: 110px;
  margin-top: 20px;
  font-size: 1em;
  background-color: #56040c;
  border: 2px solid black;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
  box-shadow: 2px 2px;
}
